.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-form {
    max-width: 800px;
    width: 100%;
    background: #ffffff45;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    /* margin: 25px; */
}

form h2 {
    /* font-size: 30px; */
    text-align: center;
}

form .input-box {
    margin-top: 10px;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 8px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.58);
}

.input-box .field.mess {
    height: 100px;
    resize: none;
}

form button {
    width: 100%;
    height: 55px;
    /* background: #826afb; */
    background: #ffffff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: #ffffff69;
}

::file-selector-button {
  margin-right: 15px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

::file-selector-button:hover {
  background-color: #ffffff69;
}

.inline-field {
    display: flex;
    justify-content: space-between;
}

.l {
    margin-left: 5px;
}
.c {
    margin-left: 5px;
    margin-right: 5px;
}
.r {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .inline-field {
        display: inline;
    }
    .l {
        margin-left: 0px !important;
    }
    .c {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .r {
        margin-right: 0px !important;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.58);
        font-size: small;
    }
}
